---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Transforma tu negocio con automatización e IA.
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Implementamos soluciones reales que escalan tu operación sin aumentar costos ni complejidad. Resultados medibles desde el primer día.
  </p>
  <div class="flex mt-5">
    <Link href="https://forms.creamvp.com/ga9f9e" style="inverted">Evaluar mi negocio</Link>
  </div>
</div>
